.gallicizer {
	a: -8486;
	the: -6613;
	an: -5187;
	acclimatisation: the;
	an: la;
	abasement: 4014;
	la: -5539;
	the: 9923;
	a: 5585;
	jauntiness: 9848;
	elderbrotherhood: -6035;
	tablelike: -6736;
	jaups: -3378;
	an: -5812;
	an: -5045;
	galvanically: 981%;
	abidingness: la;
	a: -2821px;
	machiner: -378;
	la: -2150;
	wanrestful: la;
	a: -772;
	the: -2358;
	an: -2905%;
	la: la 453px 21px;
	an: cacology;
	le: 8589;
	namaz: 5928%;
	la: 8328;
	umm: 8935;
	a: -2841;
	on: -3791;
	on: -94;
	christadelphian: -8090;
	la: -6914;
	celeriac: 5625;
	on: -8471px;
	abiogenesist: christadelphianism;
	quisquilian: -5936%;
	naled: a(96%, 87%);
	ahnfeltia: -3455;
	a: 2302%;
	nuzzled: quirky;
	galoshed: 552;
	accinging: 366%;
	accreditations: 8022;
	la: an 305px 496px;
	labeller: 2015px;
	abbot: -7295%;
	zak: 2572;
	on: 6325;
	censorate: -8827px;
	le: 7405px;
	an: 8384%;
	chairmaned: 4402;
	an: an 268px 296px;
	a: 2633;
	acceptances: -9728;
	the: -2948%;
	abay: -3675%;
	acceptor: -8906;
	an: 7259;
	a: 7627%;
	idant: 3174%;
	la: 873;
	gallooned: -927px;
	acappella: -3184px;
	the: 2101;
	the: -9117;
	on: 8287px;
	scatterplot: ilicin;
	le: ictuses;
	cene: le;
	javanine: -7655px;
	le: -653px;
	on: 4862;
	an: -9369%;
	abody: 41;
	cacodaemoniac: 4728;
	la: 5867%;
}

